* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(to top right, yellow, grey);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100rem;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-color: rgb(255, 2, 2, 0.3);
    left: 33rem;
    top: 20rem;
    border-radius: 50%;
}

.MultiFileUpload {
    display: block;
    margin: auto;
    position: relative;
    height: 30rem;
    width: 20rem;
    text-align: center;
    top: 9rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5fc6b;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.72);
}

.dropzone {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
}

.dropzone:hover {
    background-color: rgba(128, 128, 128, 0.157);
}

button:hover {
    background-color: rgba(128, 128, 128, 0.157);
}

.fileList {
    text-align: center;
    height: 75%;
    justify-content: center;
    line-height: 30px;
}

.loading {
    display: flex;
    position: absolute;
    margin: 20px;
    width: 75%;
    text-align: center;
    align-items: center;
}